<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Credit Card Test</title>

  <!-- Styles -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./node_modules/card/dist/card.css">
  <link rel="stylesheet" href="./dist/css/angular_credit_card.min.css">
  <style>
    body {
      padding-top: 40px;
    }

    .jumbotron {
      padding-top: 20px !important;
      padding-bottom: 20px!important;
    }

    .jumbotron.empl {
      background: rgba(22, 31, 73, 1) !important;
      color: #fff !important;
    }

    .title {
      border-bottom: 3px solid #159DEB;
      font-size: 24px;
      line-height: 45px;
      margin-top: 0;
      margin-bottom: 20px;
    }

    .form-control {
      border-width: 2px !important;
    }

    .form-control:focus,
    .form-control:active,
    select:focus,
    select:active {
      border-color: #159DEB !important;
      box-shadow: none !important
    }
  </style>
</head>

<body ng-app="app" ng-controller="AppController">

  <!-- Container -->
  <div class="container-fluid">
    <!-- Row -->
    <div class="row">
      <!-- Col -->
      <div class="col-xs-12 col-md-4 offset-md-4">
        <form name="paymentForm" card card-container="#card-container">

          <!-- Jumbotron -->
          <div class="jumbotron">
            <h1 class="title">Payment Type Info</h1>

            <!-- Row -->
            <div class="row">
              <!-- Col -->
              <div class="col-12">
                <div class="form-group">
                  <label for="card-number">Card Number</label>
                  <input type="text" id="card-number" class="form-control" name="card_number" card-number card-type-model="card.type" ng-model="card.number"
                    placeholder="•••• •••• •••• ••••">
                </div>
              </div>
              <!-- /End Col -->
            </div>
            <!-- /End Row -->

            <!-- Row -->
            <div class="row">
              <!-- Col -->
              <div class="col-xs-12 col-md-3">
                <div class="form-group">
                  <label for="card-expiry">Exp. Date</label>
                  <input type="text" id="card-expiry" class="form-control" name="card_expiry" card-expiry ng-model="card.expiry" placeholder="MM / YY">
                </div>
              </div>
              <!-- /End Col -->

              <!-- Col -->
              <div class="col-xs-12 col-md-2">
                <div class="form-group">
                  <label for="card-cvv">CVV</label>
                  <input type="text" id="card-cvv" class="form-control" name="card_cvv" card-cvc ng-model="card.cvc" placeholder="•••">
                </div>
              </div>
              <!-- /End Col -->

              <!-- Col -->
              <div class="col-xs-12 col-md-7">
                <div class="form-group">
                  <label for="card-zip">Zip Code</label>
                  <input type="text" id="card-zip" class="form-control" name="card_zip" ng-model="card.zip" placeholder="••••••">
                </div>
              </div>
              <!-- /End Col -->
            </div>
            <!-- /End Row -->

            <!-- Row -->
            <div class="row">
              <!-- Col -->
              <div class="col-6">
                <div class="form-group">
                  <label for="card-name">Card Holder Name</label>
                  <input type="text" id="card-name" class="form-control" name="card_name" card-name ng-model="card.name" placeholder="••••••• •••••••">
                </div>
              </div>
              <!-- /End Col -->

              <!-- Col -->
              <div class="col-6">
                <div class="form-group">
                  <label for="credit-card-name">Card Name
                    <small class="text-muted">(internal use)</small>
                  </label>
                  <input type="text" id="credit-card-name" class="form-control" name="credit_card_internal_name" credit-card-name card-name-model="card.name"
                    card-type-model="card.type" ng-model="card.card_name" placeholder="••••••• •••••••">
                </div>
              </div>
              <!-- /End Col -->
            </div>
            <!-- /End Row -->

            <!-- Row -->
            <div class="row">
              <!-- Col -->
              <div class="col-12">
                <div id="card-container"></div>
              </div>
              <!-- /End Col -->
            </div>
            <!-- /End Row -->
          </div>
          <!-- /End Jumbotron -->

          <!-- Row -->
          <div class="row">
            <!-- Col -->
            <div class="col-12">
              <button ng-click="paymentForm.submitAttempt=true;save(card)" class="btn btn-primary" type="submit">
                Submit
              </button>
            </div>
            <!-- /End Col -->
          </div>
          <!-- /End Row -->
        </form>
      </div>
      <!-- /End Col -->
    </div>
    <!-- /End Row -->
  </div>
  <!-- /End Container -->

  <!-- Scripts -->
  <script src="./node_modules/angular/angular.min.js"></script>
  <script src="./node_modules/card/dist/card.js"></script>
  <script src="./dist/js/angular_credit_card.min.js"></script>
  <script>
    angular.module('app', ['TheBug'])

    angular.module('app')
      .controller('AppController', ['$scope', function($scope) {

        $scope.card = {
          name: '',
          number: '',
          expiry: '',
          cvc: '',
          zip: '',
          type: '',
          card_name: ''
        };

        $scope.save = function(card) {
          console.log(card);
        };
      }]);
  </script>

</body>

</html>